<div class='jumbotron'>
  <h1>ラーメンさがすよ〜〜〜</h1>
</div>

<div class='row'>
  <div class='col-md-6'><%= render 'shared/search_form' %></div>
  <div class='col-md-6'><%= render 'shared/area_list' %></div>
</div>
