<table class="table table-striped table-condenced">
  <% @japan_areas.each do |area, prefectures| %>
    <tr>
      <td><%= area %></td>
      <% prefectures.each do |p| %>
        <td> <%= link_to p.name, prefecture_path(p) %> <td>
      <% end %>
    </tr>
  <% end %>
</table>
