<h1><%= @prefecture %></h1>

<ul class="shops">
  <% @shops.each do |shop| %>
    <li>
      <section>
        <h4><%= link_to shop.name, shop %></h4>
        <address><%= "#{shop.prefecture.name}#{shop.address}" %></address>
      </section>
    </li>
  <% end %>
</ul>
