<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "検索", '#' %></li>
        <li><%= link_to "地域別", '#' %></li>
        <li><%= link_to "ランキング", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
